a(href='/todoHome') Show all tasks
h1 Show All tasks {{message}}

form#todoForm(name='taskForm')
  .formfield
    .formfield--prompt Title:
    input#todoTitle(type='text', name='title', ng-model= 'task.title')
  .formfield
    .formfield--prompt Description:
    input#todoTitle(type='text', name='description', ng-model= 'task.description')
  .formfield
    .formfield--prompt Priority:
    input#todoTitle(type='text', name='priority', ng-model= 'task.priority')
  .formfield
    .formfield--prompt Due Date:
    input#todoTitle(type='text', name='todoDueDate', ng-model= 'task.due_date')
  .formfield
    .formfield--prompt Completed?
    input#todoTitle(type='checkbox', name='complete', ng-model= 'task.complete')
    input#todoHidden(type='hidden', ng-model='task.id')
  input.submitButton(type='submit', ng-click='updateTask()')