
h2 {{message}}
form(role='form', novalidate, name='userForm', id='registerForm')
  .formfield
    .formfield--prompt Username:
    input#username(type='text', name='username', ng-model='user.username', required, autofocus, ng-minlength='4')
  .formfield
    .formfield--prompt Password:
    input#password(type='password', name='password', ng-model='user.password', required, ng-minlength='4')
    br
    input.submitButton.reg(type='submit', ng-show='userForm.$valid', ng-click='register()')
